@page
@{
    ViewData["Title"] = "Error";
}
<h1 class="text-danger">An Error Occurred.</h1>
<p>Sorry, something went wrong while processing your request.</p>
<a href="/Index" class="btn btn-primary">Return Home</a>